<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Car List</title>
</head>

<body>
    <h1>Car List</h1>
    <div>
        <form th:action="@{'/car/' + ${id}}" th:object="${carForm}" method="POST">
            <table border="1">
                <tr>
                    <th>Id</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Options</th>
                </tr>
                <tr>
                    <td th:utext="${id}"></td>
                    <td><input th:field="*{brand}" /></td>
                    <td><input th:field="*{model}" /></td>
                    <td><input type="submit" value="Update Car" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>