<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome</h1>
    <h2 th:utext="${message}">..!..</h2>
    
    <!--  
           
             In Thymeleaf the equivalent of
             JSP's ${pageContext.request.contextPath}/edit.html
             would be @{/edit.html}
              
             -->
    
    <a th:href="@{/carList}">Car List</a>
</body>
</html>